<div id="vm">
  <h2>Basic Vue.js Practices</h2>
  <hr>

  <div>
    <h4>テキストのデータバインディング</h4>
    <br>
    <p>
    {{ message }}
    </p>
    <br>
    <hr>
  </div>

  <div>
    <h4>データオブジェクトにオブジェクトや配列要素を設定</h4>
    <br>
    <p>
      {{ message }}
    </p>
    <p>
      {{ count }}
    </p>
    <p>
      user's age:
      {{ user.age }}
      years old
    </p>
    <p>
      Second colors is
      {{ colors[1] }}
    </p>
    <br>
    <hr>
  </div>

  <div>
    <h4>属性のデータバインディング v-bind</h4>
    <br>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">v-bind</label>
      <div class="col-sm-10">
        <input v-bind:value="message" type="email" class="form-control" id="inputEmail3">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-primary">Test!</button>
      </div>
    </div>
    <br>
    <hr>
  </div>

  <div>
    <h4>条件分岐 v-if</h4>
    <br>
    <p v-if="toggle">
      Can you see me?
    </p>
    <br>
    <hr>
  </div>

  <div>
    <h4>条件分岐 v-show</h4>
    <br>
    <p v-show="toggle">
      Can you see me?
    </p>
    <br>
    <hr>
  </div>

  <div>
    <h4>オブジェクトの繰り返し v-for</h4>
    <br>
    <ol>
      <li v-for="color in colors">
        {{ color }}
      </li>
    </ol>
    <ul>
      <li v-for="value in user">
        {{ value }}
      </li>
    </ul>
    <ul>
      <li v-for="(value, key) in user">
        {{ key }}
      </li>
    </ul>
    <ul>
      <li v-for="(value, key) in user">
        {{ key }}:{{ value }}
      </li>
    </ul>
    <br>
    <hr>
  </div>

  <div>
    <h4>イベントの基本 v-on</h4>
    <br>
    <button v-on:click="onclick" class="btn btn-primary">
      Test!
    </button>
    <br>
    <p>
      {{ now }}
    </p>
    <br>
    <hr>
  </div>

  <div>
    <h4>双方向データバインディング v-model</h4>
    <br>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">v-model</label>
      <div class="col-sm-10">
        <input v-model="message" type="email" class="form-control" id="inputEmail3">
      </div>
      <label for="inputEmail3" class="col-sm-2 col-form-label">v-model</label>
      <div class="col-sm-10">
        <input v-model="message" type="email" class="form-control" id="inputEmail3">
      </div>
      <br>
      <br>
      <br>
      <pre>
        message = {{ $data.message }}
      </pre>
    <br>
    <hr>
  </div>

  <div>
    <h4>コンポーネントの基本</h4>
    <br>
    <hello-component></hello-component>
    <hello-component></hello-component>
    <br>
    <hr>
  </div>

</div>


<%= javascript_pack_tag 'hello_vue_basic' %>