<div id="classdatabinding">

  <p class="he">
    Hello <span class="bg-gray text-blue" v-bind:class="{large:isLarge, 'text-danger': hasError}">Vue.js!</span>
  </p>
  <p>
    Vue.jsをフォントサイズを切り替えるチェックボックス
    <br>
    <input type="checkbox" v-model="isLarge">
    <br>
    Vue.jsをフォント色を切り替えるチェックボックス
    <br>
    <input type="checkbox" v-model="hasError">
  </p>
</div>


<br><br><br>
<%= link_to '>>HOME', root_path %>


<%= javascript_pack_tag 'hello_vue_classdatabinding' %>