<div id="component">
  <h2>コンポーネント</h2>
  <hr>
  <br><br>

  <h4>コンポーネントの定義　グローバル登録</h4>
  <br>
  <hello-component></hello-component>
  <hello-component></hello-component>
  <hello-component></hello-component>
  <br><br>

  <h4>コンポーネントの定義　ローカル登録</h4>
  <br>
  <local-component></local-component>
  <local-component></local-component>


</div>


<br><br><br>
<%= link_to '>>HOME', root_path %>

<%= javascript_pack_tag 'hello_vue_component' %>