<div id='conditional'>

  <h2>条件付きレンダリング</h2>
  <hr>

  <p>
    toggle切り替えボタン
    <input type="checkbox" v-model="toggle">
  </p>
  <br><br><br>

  <h4>v-if v-else</h4>
  <br>
  <p v-if='toggle'>
    YES
  </p>
  <p v-else>
    No
  </p>
  <br><br><br>

  <h4>v-else-if</h4>
  <br>
  <p v-if="color === 'red' ">
    STOP
  </p>
  <p v-else-if="color === 'yellow' ">
    Caution
  </p>
  <p v-else="color === 'blue' ">
    Go
  </p>
  <p v-else>
    Not red/yellow/blue
  </p>
  <br><br><br>

  <h4>v-show</h4>
  <br>
  <p v-show="toggle">
    hello Vue.js!
  </p>
  <br><br><br>

</div>


<br><br><br>
<%= link_to '>>HOME', root_path %>

<%= javascript_pack_tag 'hello_vue_conditional' %>