<div id="eventhandler">
  <h2>イベントハンドリング</h2>
  <hr>

  <h4>インラインイベントハンドラ</h4>
  <hr>
  <p>
    {{ counter }}
  </p>
  <br>
  <p>
    <button v-on:click="counter++">
      click
    </button>
  </p>
  <br><br><br>

  <h4>メソッドイベントハンドラ</h4>
  <hr>
  <p>
    {{ counter }}
  </p>
  <br>
  <p>
    <button v-on:click.once="clickHandler">
      click
    </button>
  </p>
  <br><br><br>

  <h4>イベントオブジェクトの参照</h4>
  <hr>
    <p>
    {{ message }}
  </p>
  <br>
  <p>
    <button v-on:click="clickhandler('Vue.js!')">
      click
    </button>
  </p>
  <br><br><br>

  <h4>イベントオブジェクトの参照2</h4>
  <hr>
    <p>
    {{ message }}
  </p>
  <br>
  <p>
    <button v-on:click="clickhandler($event, 'Vue.js!')">
      click
    </button>
  </p>
  <br><br><br>

  <h4>キーイベント</h4>
  <hr>
  <p>
    <input type="text" v-model="erase" v-on:keyup.esc.space.up="clear">
  </p>
  <pre>
    {{ $data }}
  </pre>

  <h4>システム修飾子</h4>
  <hr>

</div>


<br><br><br>
<%= link_to '>>HOME', root_path %>

<%= javascript_pack_tag 'hello_vue_eventhandler' %>