<div id="monitor">
  <h1>監視プロパティ</h1>
  <hr>
  <hr>
  <br>
  <h4>監視プロパティ　基本</h4>
  <hr>
  <p>
    <input type="text" v-model:value="message">
  </p>
  <pre>
    {{ $data }}
  </pre>

  <h4>監視プロパティ　単位変換ツール</h4>
  <hr>
  <p>
    <input type="text" v-model:value="km">km
  </p>
  <p>
    <input type="text" v-model:value="m">m
  </p>
  <p>
    <input type="text" v-model:value="mm">mm
  </p>
  <pre>
    {{ $data }}
  </pre>

  <h4>監視プロパティ　算出プロパティと監視プロパティの違い</h4>
  <hr>
  <h5>●監視プロパティ</h5>
  <p>
      firstName:
      <input type="text" v-model="firstName">
  </p>
  <p>
      lastName:
      <input type="text" v-model="lastName">
  </p>
  <p>
    fullName:
    {{ fullName }}
  </p>
  <h5>●算出プロパティ</h5>
  <p>
      firstName:
      <input type="text" v-model="firstName">
  </p>
  <p>
      lastName:
      <input type="text" v-model="lastName">
  </p>
  <p>
    fullName:
    {{ FullName }}
  </p>

  <h4>監視プロパティ　オプション</h4>
  <hr>
  <ul>
    <li v-for="color in colors">
      {{ color.name }}
    </li>
  </ul>

</div>


<br><br><br>
<%= link_to '>>HOME', root_path %>


<%= javascript_pack_tag 'hello_vue_monitor' %>