<div id='router'>
  <router-link to="/top">Go to Top</router-link>
  <router-link to="/users">Go to User</router-link>
</div>


<br><br><br>
<%= link_to '>>HOME', root_path %>

<%= javascript_pack_tag 'hello_vue_router' %>