<div class="card">
  <span class="card-title">
    title:
    <%= book.title %>
  </span>
  <br>
  author:
  <%= book.author %>
  <br>
  genre:
  <%= book.genre %>
  <br>
  publisher:
  <%= book.publisher %>
</div>