<div class="container">
  <div class="row">
    <% @books.each do |book| %>
      <div class="col.s4.m6">
        <div class="card">
          <span class="card-title">
            <%= book.title %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'back', root_path %>