<div class="row">
  <% @books.each do |book| %>
    <div class="col.s4.m6">
      <div class="card">
        <span class="card-title">
          <%= book.title %>
        </span>
      </div>
    </div>
  <% end %>
</div>
<br><br><br>
<%= link_to '>>HOME', root_path %>
<%= link_to 'books#new', new_book_path %>