.container {
  padding: 50px;
}

#todo ul {
  list-style: none;
}

[v-cloak] {
  display: none;
}

#todo li > span.done {
  text-decoration: line-through;
}

.he {
  height: 50px;
}

.large {
  font-size: 36px;
}

.text-danger {
  color: red;
}